{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "images": "./assets/images",
          "assets": "./assets",
          "@common": "./src/components"
        }
      }
    ]
  ]
}
